*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* Barra de navegação */
#logo-navbar {
    width: 100px;
    margin-left: 200px;
}

.navbar{
    background-color: #000000;
}
.navbar a{
    color: #ffffff;
    font-size: 20px;

}
.nav-item a:hover{
    color: #3C1DBA;   
    transition: 0.5s;
}

.navbar-nav{
    padding-right: 50px;
}
.navbar-nav .nav-item {
    padding-right: 1em;
}
#nav-menu{
    color: #ffffff;
    font-size: 28px;
}

/* Section Home */
.container{
    padding-top: 200px;
}
.container img {
    width: 450px;
    height: 450px;
    border-bottom-left-radius: 200px;

}
.text-boa{
  padding-bottom: 50px;
  color: #4277FF;

}

.container .btn-cont1{
    background-color: #3C1DBA;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
}
.container .btn-cont2{
    background-color: #3C1DBA;
    color: #ffffff;
    margin-right: 20px;
    padding: 10px;
    font-weight: bold;
}
.btn-cont1:hover, .btn-cont2:hover{
    background-color:#4277FF; 
    transition: 0.5s;
}

.container .text-ola {
    color: #3C1DBA;
    font-weight: bold;
}
.container .text-dev {
    color: #000000;
    font-weight: bold;
}

.container-geral {
    margin-top: 10px;
}
.sobre{
    background-color: #4277FF;
}

.sobre h2 {
    color: #ffffff;
}
.portfolio{
    background-color: #ffffff;
}
.portfolio h2{
  color: #000000;
}
.portfolio .btn-card1{
    background-color: #3C1DBA;
    color: #ffffff;
    padding: 10px;
    font-weight: bold;
}
.portfolio .btn-card2{
    background-color: #3C1DBA;
    color: #ffffff;
    margin-right: 20px;
    padding: 10px;
    font-weight: bold;
}
.btn-card1:hover, .btn-card2:hover{
    background-color:#4277FF; 
    transition: 0.5s;
}
.tecnologias{
    background-color: #4277FF;

}
.tecnologias h2{
    color: #ffffff;

}
.contato{
    background-color: #ffffff;

}
.contato h2{
    color: #000000;
}

.contato .btn-form{
    background-color: #3C1DBA;
    color: #ffffff;
    margin-right: 20px;
    padding: 10px;
    font-weight: bold;
}
.form #form-nome, #form-email, #form-telefone, #Textarea {
    min-width: 300px;
  }
footer {
    background-color: #000000;
}
.footer .text-rodape{
    color: #ffffff;

}
.redes {
    font-size: 22px;
}

